
<!doctype html>
<html>
  <body style="background-color:rgb(201, 196, 200);">
    <title>F1 Data · Error</title>
    <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>


    <h1>Error 404</h1>
    <h2>Oops...</h2>
    <div>
        Something went wrong :(
    </div>
    <form action="/">
      <button type="submit" class='button_home'>
        Home
      </button>
    </form>
  </body>

</html>