
<!doctype html>
<html>
  <body style="background-color:rgb(201, 196, 200);">
    <title>F1 Data · Grand Prix</title>
    <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <h1>Grand Prix</h1>


    {% if name==None %}
    <h1 align="CENTER">Grand Prix List</h1>
    <div class="column_center" align='CENTER'>
        {% for duc in cur %}
        <button class="button_simple"><a href="/gps/{{duc}}">{{ duc }}</a></button>
        {% endfor %}
        <br><br><br><br><br>
    </div>
    {% else %}
      {% if year==None %}
      <h1>{{name}}</h1>
      
      <h3>Winners List</h3>
      <table>
        <thead>
          <tr>
            <th colspan="1">Driver</th>
            <th colspan="1">Number of wins</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in winners %}
            <tr>
              <td>{{duc['_id']['Driver']}}</td>
              <td>{{duc['Number of wins']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Number of DNFs per year</h3>
      <table>
        <thead>
          <tr>
            <th colspan="1">Year</th>
            <th colspan="1">DNFs</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in dnf_year %}
            <tr>
              <td>{{duc['_id']}}</td>
              <td>{{duc['Number of DNF']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Drivers with the most DNFs</h3>
      <table>
        <thead>
          <tr>
            <th colspan="1">Drivers</th>
            <th colspan="1">DNFs</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in dnf_driver %}
            <tr>
              <td>{{duc['_id']}}</td>
              <td>{{duc['Number of DNF']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Fastest laps in Grand Prix</h3>
      <table>
        <thead>
          <tr>
            <th colspan="1">Year</th>
            <th colspan="1">Driver</th>
            <th colspan="1">Lap time</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in fast_gp %}
            <tr>
              <td>{{duc['_id']['Year']}}</td>
              <td>{{duc['_id']['Driver']}}</td>
              <td>{{duc['Best Lap Time']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Fastest laps in Qualifying Session</h3>
      <table>
        <thead>
          <tr>
            <th colspan="1">Year</th>
            <th colspan="1">Driver</th>
            <th colspan="1">Lap time</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in fast_qual %}
            <tr>
              <td>{{duc['_id']['Year']}}</td>
              <td>{{duc['_id']['Driver']}}</td>
              <td>{{duc['Best Qualifying Time']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Tyres used</h3>
      <table>
        <thead>
          <tr>
            <th colspan="1">Tyres</th>
            <th colspan="1">Number of sets</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in tyres %}
            <tr>
              <td>{{duc['_id']}}</td>
              <td>{{duc['Number of sets']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Best time each year</h3>
      <table>
        <thead>
          <tr>
            <th colspan="1">Year</th>
            <th colspan="1">Lap Time</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in best %}
            <tr>
              <td>{{duc['_id']['Year']}}</td>
              <td>{{duc['Time Checkered Flag']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Check races:</h3>
      {% for duc in races %}
      <a href="/gps/{{name}}/{{duc['_id']}}">{{duc['_id']}}</a>
      {% endfor %}
      <br><br><br><br>



      {% else %}
      <h1>{{name}} {{year}}</h1>
      <h2 align="CENTER">Ranking</h2>
      <table align='CENTER'>
        <thead>
          <tr>
            <th colspan="1">Position</th>
            <th colspan="1">Number</th>
            <th colspan="1">Driver</th>
            <th colspan="1">Team</th>
            <th colspan="1">Laps</th>
            <th colspan="1">Gap time</th>
            <th colspan="1">Lap time</th>
            <th colspan="1">Average Speed</th>
            <th colspan="1">Q1</th>
            <th colspan="1">Q2</th>
            <th colspan="1">Q3</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in cur %}
            <tr>
              <td>{{duc['Position']}}</td>
              <td>{{duc['Number']}}</td>
              <td>{{duc['Driver']}}</td>
              <td>{{duc['Team']}}</td>
              <td>{{duc['Laps']}}</td>
              <td>{{duc['Gap_Time']}}</td>
              <td>{{duc['Lap_Time']}}</td>
              <td>{{duc['Avg_Speed']}}</td>
              <td>{{duc['Q1']}}</td>
              <td>{{duc['Q2']}}</td>
              <td>{{duc['Q3']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br><br><br><br>
      {% endif %}
    {% endif %}


    <div id='frm'>
      <form action="/">
        <button type="submit" class='button_home'>
          Home
        </button>
      </form>
      <button onclick="history.back()" class="button_home">Go Back</button>
    </div>
  </body>


</html>
