
<!doctype html>
<html>
  <body style="background-color:rgb(201, 196, 200);">
    <title>F1 Data</title>

    <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>


      <title>Hello</title>
      {% if name %}
        <h1>Hello {{ name }}!</h1>
      {% else %}
        <h1 align='CENTER'>Welcome to the database of the 2010s of Formula 1</h1>
      {% endif %}
      <div class="row" align="CENTER">
        <img src="{{url_for('static', filename='F1-logo.png')}}" alt='F1-logo' style="width:700px;height:300px;"> 
      </div>
      <div class='row' align="CENTER">
        <h2>Choose a field of study:</h2>
        <br>
      </div>
      <div class="row" align="CENTER">
        <div class="column_3">
          <img src="{{url_for('static', filename='drivers.png')}}" alt='drivers' style="width:500px;height:300px;"> 
        </div>
        <div class="column_3">
          <img src="{{url_for('static', filename='team.jpg')}}" alt='teams' style="width:500px;height:300px;"> 
        </div>
        <div class="column_3">
          <img src="{{url_for('static', filename='GP.jpg')}}" alt='GP' style="width:500px;height:300px;"> 
        </div>
      </div>

      <div class="row" align="CENTER">
        <div class="column_3">
          <form action="/drivers" method="GET">
            <button type="submit"class="button_cart">
              Drivers
            </button>
          </form>
        </div>
        <div class="column_3">
          <form action="/teams">
            <button type="submit" class="button_cart">
              Teams
            </button>
          </form>
        </div>
        <div class="column_3">
          <form action="/gps">
            <button type="submit" class="button_cart">
              Grand Prix
            </button>
          </form>
        </div>

      </div>
  </body>
</html>


