
<!doctype html>
<html>
  <body style="background-color:rgb(201, 196, 200);">
    <title>F1 Data · Teams</title>

    <head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom.css') }}">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <h1 align="CENTER">List of Teams during the timespan</h1>

    {% if name==None %}
    <div class="column_center" align='CENTER'>
        {% for duc in cur %}
        <button class="button_simple"><a href="/teams/{{duc}}">{{ duc }}</a></button>
        {% endfor %}
        <br><br><br><br><br>
    </div>
    {% else %}
      <h1 align="CENTER">{{name}}</h1>
      <h3>Histogram showing number of points per year</h3>
      <div id="myPlot"></div>
      <script>
        Plotly.newPlot('myPlot',{{ fig | safe }})
      </script>


    <h3>Average position per year</h3>
    <table>
      <thead>
        <tr>
          <th colspan="1">Year</th>
          <th colspan="1">Average Position</th>
        </tr>
      </thead>
      <tbody>
        {% for duc in rank %}
          <tr>
            <td>{{duc['_id']}}</td>
            <td>{{duc['Average Position']}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Best Pitstop time</h3>
    <table>
      <thead>
        <tr>
          <th colspan="1">Grand Prix</th>
          <th colspan="1">Year</th>
          <th colspan="1">Pitstop time</th>
        </tr>
      </thead>
      <tbody>
        {% for duc in pit_time %}
          <tr>
            <td>{{duc['Grand_Prix']}}</td>
            <td>{{duc['Year']}}</td>
            <td>{{duc['Time_Pit']}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


      <h3>Participations</h3>  
      <table>
        <thead>
          <tr>
              <th colspan="1">Grand_Prix</th>
              <th colspan="1">Year</th>
              <th colspan="1">Driver</th>
              <th colspan="1">Position</th>
          </tr>
        </thead>
        <tbody>
          {% for duc in par %}
            <tr>
                <td>{{duc["Grand_Prix"]}}</td>
                <td>{{duc["Year"]}}</td>
                <td>{{duc["Driver"]}}</td>
                <td>{{duc["Position"]}}</td>
            </tr>
          {% endfor %} 
        </tbody>
      </table>
    {% endif %}



    <form action="/">
        <button type="submit" class='button_home'>
          Home
        </button>
    </form>
  </body>
</html>